# Datos personales
registo_estudo.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# PyInstaller - IMPORTANTE
build/
dist/
*.spec

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db